<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.ERP_AccountsConnectionString"
            connectionString="Data Source=ESQL;Initial Catalog=ERP_Accounts;Persist Security Info=True;User ID=sqlrw;Password=RWsql@123"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.ERP_HRConnectionString" connectionString="Data Source=ESQL;Initial Catalog=ERP_HR;Persist Security Info=True;User ID=sqlrw;Password=RWsql@123"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.ERP_InventoryConnectionString"
            connectionString="Data Source=ESQL;Initial Catalog=ERP_Inventory;User ID=sqlrw;Password=RWsql@123"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.ERP_SADConnectionString" connectionString="Data Source=ESQL;Initial Catalog=ERP_SAD;Persist Security Info=True;User ID=sqlrw;Password=RWsql@123"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.ERP_VATConnectionString" connectionString="Data Source=ESQL;Initial Catalog=ERP_VAT;User ID=sqlrw;Password=RWsql@123"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.ERP_PaymentConnectionString"
            connectionString="Data Source=ESQL;Initial Catalog=ERP_Payment;Persist Security Info=True;User ID=sqlrw;Password=RWsql@123"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.AG_GlobalConnectionString"
            connectionString="Data Source=ESQL;Initial Catalog=AG_Global;User ID=sqlrw;Password=RWsql@123"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.ERP_AccountsConnectionStringEsql3"
            connectionString="Data Source=esql;Initial Catalog=ERP_Accounts;Persist Security Info=True;User ID=sqlrw;Password=RWsql@123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
