table {
    max-width: 100%;
    background-color: transparent;
    text-align: center;
}

th {
    text-align: center;
}

tr {
    font-size: 14px;
    -ms-transition: transform .2s;
    -o-transition: transform .2s;
    -webkit-transition: transform .2s;
    transition: transform .2s;
}

td, th {
    padding: 4px;
}

.Grid {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
}

    .Grid tr:hover {
        background-color: #ccc;
        -ms-transform: translate(1px,1px);
        -webkit-transform: translate(1px,1px);
        transform: translate(1px,1px);
        transform: scale(.99);
    }

.erpContainer {
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
    width: 100%;
    -ms-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    background-color: #eeeeee;
    float: left;
}