<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UserSecurity.Properties.Settings.ERP_SecurityConnectionString" connectionString="Data Source=DEVSERVERSOFT;Initial Catalog=DB_Security;Persist Security Info=True;User ID=sa;Password=123456" providerName="System.Data.SqlClient"/>
    </connectionStrings>
  <appSettings>    
    <add key="sessionTimeout" value="120"/>
    <add key="invalidUserMessage" value="Invlid user id or password"/>
    <add key="onHoldMessage" value="You are on-hold"/>
    <add key="invalidPasswordAttemptDelay" value="100"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
