<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HR_BLL.Properties.Settings.ERP_HRConnectionString"
            connectionString="Data Source=ESQL;Initial Catalog=ERP_HR;Persist Security Info=True;User ID=rNwUs@Ag;Password=a2sLs@Ag"
            providerName="System.Data.SqlClient" />
        <add name="HR_BLL.Properties.Settings.ERP_GlobalConnectionString"
            connectionString="Data Source=ESQL;Initial Catalog=ERP_Global;User ID=rNwUs@Ag;Password=a2sLs@Ag"
            providerName="System.Data.SqlClient" />

      <add name="HR_DAL.Properties.Settings.AG_GlobalConnectionString"
      connectionString="Data Source=esql;Initial Catalog=AG_Global;User ID=rNwUs@Ag;Password=a2sLs@Ag"
      providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
