<?xml version="1.0"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="HR_DAL.Properties.Settings.ERP_HRConnectionString"
      connectionString="Data Source=ESQL;Initial Catalog=ERP_HR;Persist Security Info=True;User ID=sqlrw;Password=RWsql@123"
      providerName="System.Data.SqlClient" />
    <add name="HR_DAL.Properties.Settings.ERP_GlobalConnectionString"
      connectionString="Data Source=ESQL;Initial Catalog=ERP_Global;Persist Security Info=True;User ID=sqlrw;Password=RWsql@123"
      providerName="System.Data.SqlClient" />
    <add name="ERP_HREntities" connectionString="metadata=res://*/Reports.ReportData.csdl|res://*/Reports.ReportData.ssdl|res://*/Reports.ReportData.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DEVSERVERSOFT;Initial Catalog=ERP_HR;Persist Security Info=True;User ID=sa;Password=Akij1234;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="HR_DAL.Properties.Settings.ERP_InventoryConnectionString"
      connectionString="Data Source=ESQL;Initial Catalog=ERP_Inventory;Persist Security Info=True;User ID=sqlrw;Password=RWsql@123"
      providerName="System.Data.SqlClient" />
    <add name="HR_DAL.Properties.Settings.AFBLSMSServerConnectionString"
      connectionString="Data Source=ESQL;Initial Catalog=AFBLSMSServer;User ID=sqlrw;Password=RWsql@123"
      providerName="System.Data.SqlClient" />
    <add name="HR_DAL.Properties.Settings.ERP_SADConnectionString"
      connectionString="Data Source=ESQL;Initial Catalog=ERP_SAD;User ID=sqlrw;Password=RWsql@123"
      providerName="System.Data.SqlClient" />
    <add name="HR_DAL.Properties.Settings.BrandTradeMktConnectionString"
      connectionString="Data Source=ESQL;Initial Catalog=BrandTradeMkt;User ID=sqlrw;Password=RWsql@123"
      providerName="System.Data.SqlClient" />
    <add name="HR_DAL.Properties.Settings.ERP_AccountsConnectionString"
      connectionString="Data Source=ESQL;Initial Catalog=ERP_Accounts;Persist Security Info=True;User ID=sqlrw;Password=RWsql@123"
      providerName="System.Data.SqlClient" />
    <add name="HR_DAL.Properties.Settings.AG_GlobalConnectionString"
      connectionString="Data Source=esql;Initial Catalog=AG_Global;User ID=sqlrw;Password=RWsql@123"
      providerName="System.Data.SqlClient" />
    <add name="HR_DAL.Properties.Settings.Archive_HRConnectionString"
      connectionString="Data Source=esql;Initial Catalog=Archive_HR;User ID=sqlrw;Password=RWsql@123"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.5" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
