<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Dairy_DAL.Properties.Settings.ERP_GlobalConnectionString"
            connectionString="Data Source=devESQL;Initial Catalog=ERP_Global;Persist Security Info=True;User ID=sqlrw;Password=RWsql@123"
            providerName="System.Data.SqlClient" />
        <add name="Dairy_DAL.Properties.Settings.AG_GlobalConnectionString"
            connectionString="Data Source=devESQL;Initial Catalog=AG_Global;Persist Security Info=True;User ID=sqlrw;Password=RWsql@123"
            providerName="System.Data.SqlClient" />
        <add name="Dairy_DAL.Properties.Settings.AG_DairyMilkConnectionString"
            connectionString="Data Source=devESQL;Initial Catalog=AG_DairyMilk;Persist Security Info=True;User ID=sqlrw;Password=RWsql@123"
            providerName="System.Data.SqlClient" />
        <add name="Dairy_DAL.Properties.Settings.ERP_HRConnectionString"
            connectionString="Data Source=devESQL;Initial Catalog=ERP_HR;User ID=sqlrw;Password=RWsql@123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>