<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Purchase_DAL.Properties.Settings.ERP_PurchaseConnectionString"
            connectionString="Data Source=ESQL;Initial Catalog=ERP_Production;User ID=rNwU@Ag;Password=a2sL@Ag"
            providerName="System.Data.SqlClient" />
        <add name="Purchase_DAL.Properties.Settings.ERP_InventoryConnectionString"
            connectionString="Data Source=ESQL;Initial Catalog=ERP_Inventory;Persist Security Info=True;User ID=rNwU@Ag;Password=a2sL@Ag"
            providerName="System.Data.SqlClient" />
        <add name="Purchase_DAL.Properties.Settings.ERP_HRConnectionString"
            connectionString="Data Source=ESQL;Initial Catalog=ERP_HR;User ID=rNwU@Ag;Password=a2sL@Ag"
            providerName="System.Data.SqlClient" />
        <add name="Purchase_DAL.Properties.Settings.ERP_AssetConnectionString"
            connectionString="Data Source=ESQL;Initial Catalog=ERP_Asset;User ID=rNwU@Ag;Password=a2sL@Ag"
            providerName="System.Data.SqlClient" />
        <add name="Purchase_DAL.Properties.Settings.RenewalRegistrationConnectionString"
            connectionString="Data Source=ESQL;Initial Catalog=RenewalRegistration;User ID=rNwU@Ag;Password=a2sL@Ag"
            providerName="System.Data.SqlClient" />
        <add name="Purchase_DAL.Properties.Settings.ERP_AccountsConnectionString"
            connectionString="Data Source=ESQL;Initial Catalog=ERP_Accounts;User ID=rNwU@Ag;Password=a2sL@Ag"
            providerName="System.Data.SqlClient" />
        <add name="Purchase_DAL.Properties.Settings.ERP_GlobalConnectionString"
            connectionString="Data Source=ESQL;Initial Catalog=ERP_Global;User ID=rNwU@Ag;Password=a2sL@Ag"
            providerName="System.Data.SqlClient" />
        <add name="Purchase_DAL.Properties.Settings.AG_WoodPurchaseConnectionString"
            connectionString="Data Source=ESQL;Initial Catalog=AG_WoodPurchase;Persist Security Info=True;User ID=rNwU@Ag;Password=a2sL@Ag"
            providerName="System.Data.SqlClient" />
        <add name="Purchase_DAL.Properties.Settings.ERP_MediaConnectionString"
            connectionString="Data Source=ESQL;Initial Catalog=ERP_Media;Persist Security Info=True;User ID=rNwU@Ag;Password=a2sL@Ag"
            providerName="System.Data.SqlClient" />
        <add name="Purchase_DAL.Properties.Settings.ERP_FTPConnectionString"
            connectionString="Data Source=esql;Initial Catalog=ERP_FTP;User ID=rNwU@Ag;Password=a2sL@Ag"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
