<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Inventory_DAL.Properties.Settings.ERP_HRConnectionString"
            connectionString="Data Source=DEVSERVER;Initial Catalog=ERP_HR;Persist Security Info=True;User ID=sa;Password=Akij1234"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>