<?xml version="1.0"?>
<configuration>
  <!-- all the key/Pair Values-->
  <appSettings>
    <add key="sessionTimeout" value="20"/>
    <add key="invalidUserMessage" value="Invlid user id or password"/>
    <add key="onHoldMessage" value="You are on-hold"/>
    <add key="invalidPasswordAttemptDelay" value="100"/>
    <add key="BundlingActive" value="1"/>
    <add key="UM" value="N"/>
    <add key="UM_Ret" value="20/05/2012 9:30 AM"/>
    <add key="LogoFolderUrl" value="D:\\logo\"/>
    <add key="MIRC_Processed" value="ScanFilesAccounts/Ch/Processed/"/>
    <add key="MIRC_Date" value="ScanFilesAccounts/Ch/DateImage/"/>
    <add key="MIRC_Amount" value="ScanFilesAccounts/Ch/AmountImage/"/>
    <add key="DTI" value="175"/>
    <add key="ACL" value="100"/>
    <add key="AFBL" value="50"/>
    <add key="ATML" value="100"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="none"/>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;"/>
    <add key="EnableDiagnostics" value="true"/>
  </appSettings>
  <!-- All the Connection Strings here -->
  <connectionStrings>
    <!--
    <add name="UserSecurity.Properties.Settings.ERP_SecurityConnectionString" 
    connectionString="Data Source=ERPSQL;Initial Catalog=DB_Security; User ID=sqlrw;Password=RWsql@123" providerName="System.Data.SqlClient"/>
    <add name="UserRole.Properties.Settings.ERP_RoleConnectionString" 
    connectionString="Data Source=ERPSQL;Initial Catalog=DB_Role; User ID=sqlrw;Password=RWsql@123" providerName="System.Data.SqlClient"/>
    <add name="HR_DAL.Properties.Settings.ERP_HRConnectionString" 
    connectionString="Data Source=ERPSQL;Initial Catalog=ERP_HR;User ID=sqlrw;Password=RWsql@123" providerName="System.Data.SqlClient"/>    
     -->
    <!--
    <add name="UserSecurity.Properties.Settings.ERP_SecurityConnectionString" connectionString="Data Source=DEVSQL;Initial Catalog=DB_Security;Persist Security Info=True;User ID=sa;Password=JikaGroupit1234" providerName="System.Data.SqlClient"/>
    <add name="UserRole.Properties.Settings.ERP_RoleConnectionString" connectionString="Data Source=DEVSQL;Initial Catalog=DB_Role;Persist Security Info=True;User ID=sa;Password=JikaGroupit1234" providerName="System.Data.SqlClient"/>
    <add name="HR_DAL.Properties.Settings.ERP_HRConnectionString" connectionString="Data Source=DEVSQL;Initial Catalog=ERP_HR;Persist Security Info=True;User ID=sa;Password=JikaGroupit1234" providerName="System.Data.SqlClient"/>
    <add name="DAL.Properties.Settings.ERP_AccountsConnectionString" connectionString="Data Source=DEVSQL;Initial Catalog=ERP_Accounts;Persist Security Info=True;User ID=sa;Password=JikaGroupit1234" providerName="System.Data.SqlClient"/>
    <add name="DAL.Properties.Settings.ERP_InventoryConnectionString" connectionString="Data Source=DEVSQL;Initial Catalog=ERP_Inventory;Persist Security Info=True;User ID=sa;Password=JikaGroupit1234" providerName="System.Data.SqlClient"/>
    <add name="SAD_DAL.Properties.Settings.ERP_SADConnectionString" connectionString="Data Source=DEVSQL;Initial Catalog=ERP_SAD;Persist Security Info=True;User ID=sa;Password=JikaGroupit1234" providerName="System.Data.SqlClient"/>
    <add name="LOGIS_DAL.Properties.Settings.ERP_LogisticConnectionString" connectionString="Data Source=DEVSQL;Initial Catalog=ERP_Logistic;Persist Security Info=True;User ID=sa;Password=JikaGroupit1234" providerName="System.Data.SqlClient"/>
    <add name="Purchase_DAL.Properties.Settings.ERP_PurchaseConnectionString" connectionString="Data Source=DEVSQL;Initial Catalog=ERP_Purchase;Persist Security Info=True;User ID=sa;Password=JikaGroupit1234" providerName="System.Data.SqlClient"/>
    <add name="DAL.Properties.Settings.ERP_VATConnectionString" connectionString="Data Source=DEVSQL;Initial Catalog=ERP_VAT;Persist Security Info=True;User ID=sa;Password=JikaGroupit1234" providerName="System.Data.SqlClient"/>
    <add name="DAL.Properties.Settings.ERP_InventoryConnectionString" connectionString="Data Source=DEVSQL;Initial Catalog=ERP_Inventory;Persist Security Info=True;User ID=sa;Password=JikaGroupit1234" providerName="System.Data.SqlClient"/>
    -->
    <!-- -->
    <add name="HR_DAL.Properties.Settings.AG_GlobalConnectionString" connectionString="Data Source=esql;Initial Catalog=AG_Global;User ID=sqlrw;Password=RWsql@123" providerName="System.Data.SqlClient"/>
    <add name="AG_GlobalConnectionString" connectionString="Data Source=esql;Initial Catalog=AG_Global;User ID=sqlrw;Password=RWsql@123" providerName="System.Data.SqlClient"/>
    <add name="AG_DairyMilkConnectionString" connectionString="Data Source=esql;Initial Catalog=AG_DairyMilk;User ID=sqlrw;Password=RWsql@123" providerName="System.Data.SqlClient"/>
    <add name="ERP_GlobalConnectionString" connectionString="Data Source=esql;Initial Catalog=ERP_Global;User ID=sqlrw;Password=RWsql@123" providerName="System.Data.SqlClient"/>
    <add name="HR_DAL.Properties.Settings.AFBLSMSServerConnectionString" connectionString="Data Source=esql;Initial Catalog=AFBLSMSServer;User ID=sqlrw;Password=RWsql@123" providerName="System.Data.SqlClient"/>
    <add name="HR_DAL.Properties.Settings.ERP_SADConnectionString" connectionString="Data Source=esql;Initial Catalog=ERP_SAD;User ID=sqlrw;Password=RWsql@123" providerName="System.Data.SqlClient"/>
    <add name="UserSecurity.Properties.Settings.ERP_SecurityConnectionString" connectionString="Data Source=esql;Initial Catalog=DB_Security;Persist Security Info=True;User ID=sqlrw;Password=RWsql@123" providerName="System.Data.SqlClient"/>
    <add name="UserRole.Properties.Settings.ERP_RoleConnectionString" connectionString="Data Source=esql;Initial Catalog=DB_Role;Persist Security Info=True;User ID=sqlrw;Password=RWsql@123" providerName="System.Data.SqlClient"/>
    <add name="DAL.Properties.Settings.ERP_AccountsConnectionString" connectionString="Data Source=esql;Initial Catalog=ERP_Accounts;Persist Security Info=True;User ID=sqlrw;Password=RWsql@123" providerName="System.Data.SqlClient"/>
    <add name="DAL.Properties.Settings.ERP_HRConnectionString" connectionString="Data Source=esql;Initial Catalog=ERP_HR;Persist Security Info=True;User ID=sqlrw;Password=RWsql@123" providerName="System.Data.SqlClient"/>
    <add name="HR_DAL.Properties.Settings.ERP_HRConnectionString" connectionString="Data Source=esql;Initial Catalog=ERP_HR;Persist Security Info=True;User ID=sqlrw;Password=RWsql@123" providerName="System.Data.SqlClient"/>
    <add name="SAD_DAL.Properties.Settings.ERP_SADConnectionString" connectionString="Data Source=esql;Initial Catalog=ERP_SAD;Persist Security Info=True;User ID=sqlrw;Password=RWsql@123" providerName="System.Data.SqlClient"/>
    <add name="LOGIS_DAL.Properties.Settings.ERP_LogisticConnectionString" connectionString="Data Source=esql;Initial Catalog=ERP_Logistic;Persist Security Info=True;User ID=sqlrw;Password=RWsql@123" providerName="System.Data.SqlClient"/>
    <add name="Purchase_DAL.Properties.Settings.ERP_PurchaseConnectionString" connectionString="Data Source=esql;Initial Catalog=ERP_Purchase;Persist Security Info=True;User ID=sqlrw;Password=RWsql@123" providerName="System.Data.SqlClient"/>
    <add name="TempConnectionString" connectionString="Data Source=esql;Initial Catalog=ERP_HR;Persist Security Info=True;User ID=sqlrw;Password=RWsql@123" providerName="System.Data.SqlClient"/>
    <add name="ERP_HRConnectionString" connectionString="Data Source=esql;Initial Catalog=ERP_HR;Persist Security Info=True;User ID=sqlrw;Password=RWsql@123" providerName="System.Data.SqlClient"/>
    <add name="DAL.Properties.Settings.ERP_VATConnectionString" connectionString="Data Source=esql;Initial Catalog=ERP_VAT;Persist Security Info=True;User ID=sqlrw;Password=RWsql@123" providerName="System.Data.SqlClient"/>
    <add name="DAL.Properties.Settings.ERP_InventoryConnectionString" connectionString="Data Source=esql;Initial Catalog=ERP_Inventory;Persist Security Info=True;User ID=sqlrw;Password=RWsql@123" providerName="System.Data.SqlClient"/>
    <add name="SAD_DAL.Properties.Settings.BrandTradeMktConnectionString" connectionString="Data Source=esql;Initial Catalog=BrandTradeMkt;User ID=sqlrw;Password=RWsql@123" providerName="System.Data.SqlClient"/>
    <add name="Purchase_DAL.Properties.Settings.ERP_AssetConnectionString" connectionString="Data Source=esql;Initial Catalog=ERP_Asset;User ID=sqlrw;Password=RWsql@123" providerName="System.Data.SqlClient"/>
    <add name="SAD_DAL.Properties.Settings.AG_UtilityConnectionString" connectionString="Data Source=esql;Initial Catalog=AG_Utility;User ID=sqlrw;Password=RWsql@123" providerName="System.Data.SqlClient"/>
    <add name="Purchase_DAL.Properties.Settings.RenewalRegistrationConnectionString" connectionString="Data Source=esql;Initial Catalog=RenewalRegistration;User ID=sqlrw;Password=RWsql@123" providerName="System.Data.SqlClient"/>
    <add name="LOGIS_DAL.Properties.Settings.ERP_AssetConnectionString" connectionString="Data Source=esql;Initial Catalog=ERP_Asset;Persist Security Info=True;User ID=sqlrw;Password=RWsql@123" providerName="System.Data.SqlClient"/>
    <add name="Support_DAL.Properties.Settings.SUPPORTConnectionString" connectionString="Data Source=esql;Initial Catalog=SUPPORT;User ID=sqlrw;Password=RWsql@123" providerName="System.Data.SqlClient"/>
    <add name="SAD_DAL.Properties.Settings.ERP_FPSConnectionString" connectionString="Data Source=esql;Initial Catalog=ERP_FPS;Persist Security Info=True;User ID=sqlrw;Password=RWsql@123" providerName="System.Data.SqlClient"/>
    <add name="SCM_DAL.Properties.Settings.ERP_InventoryConnectionString" connectionString="Data Source=esql;Initial Catalog=ERP_Inventory;Persist Security Info=True;User ID=sqlrw;Password=RWsql@123" providerName="System.Data.SqlClient"/>
    <add name="Projects_DAL.Properties.Settings.AG_DairyMilkConnectionString" connectionString="Data Source=esql;Initial Catalog=AG_DairyMilk;User ID=sqlrw;Password=RWsql@123" providerName="System.Data.SqlClient"/>
    <add name="ERP_PaymentConnectionString" connectionString="Data Source=esql;Initial Catalog=ERP_Global;User ID=sqlrw;Password=RWsql@123" providerName="System.Data.SqlClient"/>
    <add name="SCM_DAL.Properties.Settings.ERP_FTPConnectionString" connectionString="Data Source=esql;Initial Catalog=ERP_FTP;User ID=sqlrw;Password=RWsql@123" providerName="System.Data.SqlClient"/>
    <add name="SAD_DAL.Properties.Settings.ERP_VATConnectionString" connectionString="Data Source=esql;Initial Catalog=ERP_VAT;Persist Security Info=True;User ID=sqlrw;Password=RWsql@123" providerName="System.Data.SqlClient"/>
    <add name="SCM_DAL.Properties.Settings.AG_WastageMaterialConnectionString" connectionString="Data Source=esql;Initial Catalog=AG_WastageMaterial;Persist Security Info=True;User ID=sqlrw;Password=RWsql@123" providerName="System.Data.SqlClient"/>
   
    <add name="DAL.Properties.Settings.ERP_AccountsConnectionStringEsql3" connectionString="Data Source=esql;Initial Catalog=ERP_Accounts;Persist Security Info=True;User ID=sqlrw;Password=RWsql@123" providerName="System.Data.SqlClient" />
    
    <!-- Active Directory Connection String  -->
    <add name="ADConnectionString" connectionString="LDAP://akij.net/CN=Users,DC=akij,DC=net"/>
  </connectionStrings>
  <!--Now Sone Web Configuration-->
  <system.web>
    <!-- Some Basic Config-->
    <customErrors mode="Off"/>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false"/>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
    <httpRuntime targetFramework="4.5.2" executionTimeout="360" maxRequestLength="20480"/>
    <roleManager enabled="false"/>
    <authentication mode="Windows"/>
    <sessionState timeout="20"/>
    <!-- Membership For Active Directory-->
    <membership defaultProvider="MyADMembershipProvider">
      <providers>
        <add name="MyADMembershipProvider" type="System.Web.Security.ActiveDirectoryMembershipProvider, System.Web, Version=2.0.0.0,  Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="ADConnectionString" connectionUsername="akij.net\administrator" connectionPassword="AkijGroupit1234"/>
      </providers>
    </membership>
    <identity impersonate="true"/>
    <!-- some Autherization Config-->
    <authorization>
      <deny users="?"/>
      <allow users="*"/>
    </authorization>
    <compilation debug="true" targetFramework="4.5.2">
      <!--<compilation debug="false" targetFramework="4.5">-->
      <assemblies>
        <!--<add assembly="Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>--> 
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <!--<add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>-->
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
      </buildProviders>
    </compilation>
    <!--Some Configuration For Pages-->
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization"/>
      </namespaces>
      <controls>
        <add tagPrefix="webopt" namespace="Microsoft.AspNet.Web.Optimization.WebForms" assembly="Microsoft.AspNet.Web.Optimization.WebForms"/>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
  </system.web>
  <!-- Some WebServer Configuration-->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ChartImageHandler"/>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MessagingToolkit.Barcode" publicKeyToken="4d44dd7196d3c1ac" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.7.0.1" newVersion="1.7.0.1"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>