<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Support_DAL.Properties.Settings.ERP_InventoryConnectionString"
            connectionString="Data Source=devESQL;Initial Catalog=ERP_Inventory;Persist Security Info=True;User ID=sqlrw;Password=RWsql@123"
            providerName="System.Data.SqlClient" />
        <add name="Support_DAL.Properties.Settings.ERP_HRConnectionString"
            connectionString="Data Source=devESQL;Initial Catalog=ERP_HR;Persist Security Info=True;User ID=sqlrw;Password=RWsql@123"
            providerName="System.Data.SqlClient" />
        <add name="Support_DAL.Properties.Settings.SUPPORTConnectionString"
            connectionString="Data Source=devESQL;Initial Catalog=SUPPORT;User ID=sqlrw;Password=RWsql@123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>