<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Budget_DAL.Properties.Settings.ERP_AccountsConnectionString"
            connectionString="Data Source=ESQL;Initial Catalog=ERP_Accounts;Persist Security Info=True;User ID=sqlrw;Password=RWsql@123"
            providerName="System.Data.SqlClient" />
        <add name="Budget_DAL.Properties.Settings.ERP_AssetConnectionString"
            connectionString="Data Source=ESQL;Initial Catalog=ERP_Asset;User ID=sqlrw;Password=RWsql@123"
            providerName="System.Data.SqlClient" />
        <add name="Budget_DAL.Properties.Settings.ERP_HRConnectionString"
            connectionString="Data Source=ESQL;Initial Catalog=ERP_HR;Persist Security Info=True;User ID=sqlrw;Password=RWsql@123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>